<!--xml-->
<launch>
  <node ns="usb_cam" pkg="usb_cam" type="usb_cam_node" name="usb_cam" output="screen">
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="video_device" value="/dev/video0" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="pixel_format" value="yuyv" />
    <remap from="usb_cam/image_raw" to="camera/image_raw" />
  </node>
</launch>
